<template>
  <div>
    <h1>Welcome</h1>
    This page is:
    <ul>
      <li>Rendered to HTML.</li>
      <li>
        Interactive.
        <Counter />
      </li>
    </ul>
    <pre>user: {{ user }}</pre>
    <button @click="checkWhoIAm">Recheck</button>
    <a href="/connect/google/login">/connect/google/login</a> |
    <a href="/login?next=%2Fabout">/login</a>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import Counter from './Counter.vue'
import { usePageContext } from '../../renderer/usePageContext'
import { getUser } from './index.telefunc.js'

const a = 11
const pageContext = usePageContext()

const user = ref(pageContext.user)

const checkWhoIAm = async () => {
  let { user: knownUser } = await getUser()
  user.value = knownUser
}
</script>
